/* CSS ESTILOS GENERALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(5, 99, 150);
  color: #fff;
}

/* ESTILOS DEL MAIN (FONDO)*/
main {
  width: 90%;
  max-width: 800px;
  margin: 25px auto;
  padding: 10px 40px;
  border-radius: 10px;
  border: 2px solid #0dfe00;
  box-shadow: 0 2px 10px #0dfe00, 0 2px 10px #0dfe00;
}

/*FORMULARIO*/
.formulario{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px;
}

.formulario__label {
  display: block;
  padding: 10px 0;
}

.formulario__grupo-input {
  position: relative;
}

.formulario__input {
  width: 90%;
  background: transparent;
  border-bottom: 2px solid #035f22;
  border-right: none;
  color: #fff;
  font-size: 17px;
  outline: none;
  line-height: 45px;
  padding: 0 10px;
  transition: all 1s;
}

.formulario__validacion-estado {
  position: absolute;
  right: 45px;
  bottom: 15px;
  z-index: 1000;
  font-size: 16px;
  opacity: 0;
}

.formulario__input:focus {
  box-shadow: 0 0 5px #0dff09;
}

.formulario__input-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.formulario__input-error-activo {
  display: block;
}

.formulario__span {
  font-size: 1.1em;
  font-weight: 100;
}

.formulario__checkbox{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 10px;
}

.formulario__grupo-terminos {
  text-align: center;
}

.formulario__grupo-terminos, .formulario__mensaje, .formulario__grupo-btn-enviar {
  grid-column: span 2;
}

.formulario__mensaje {
  display: none;
  padding: 15px;
  border-radius: 5px;
  background: #f00;
  text-align: center;
}

.formulario__mensaje-activo {
  display: block;
}

.formulario__grupo-btn-enviar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario__btn {
  padding: 15px 35px;
  background: rgb(3, 31, 246);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.formulario__btn:hover {
  background: #035f22;
  transition: 1s;
}

.formulario__mensaje-exito {
  font-size: 2em;
  color: #20b80c;
  padding: 10px;
  text-align: center;
  display: none;
}

.formulario__mensaje-exito-activo { 
  display: block;
}


/*ESTILOS EN LA VALIDACION */
.formulario__grupo-correcto .formulario__validacion-estado{
  color: #29ee0f;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
  color: #ee0f0f;
}


.formulario__grupo-incorrecto .formulario__validacion-estado{
  color: #ee0f0f;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
  border: 1px solid #ee0f0f;
  
}
